.time-show{
    margin: 0.1vh;
    margin-top: 1vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    vertical-align: middle;

}

.time-show div{
    background-color: var(--color-Timer);
    margin-left: 1vh;
    margin-right: 1vh;
    height: 2.3vh;
    width: 1vw;
    border-radius: 0.4vw;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: 'Agency FB';
    opacity: 1;
}

.time-show div span{ /* Timer Text */
    font-family: 'Agency FB';
    display: block;
    font-size: 2vh;
    opacity: 1;
}

.time-show div p{ /*Title text*/
    color: aliceblue;
    margin-left: 0.2vh;
    text-transform:lowercase;
    font-size: 2vh;
}