:root {
    --color-primary:rgb(210, 0, 0);
    --color-background:rgb(252, 237, 191);
    --color-white:rgb(255, 255, 255, 1);
    --color-black:rgb(0, 0, 0);
    --color-NEWItems:rgb(11, 130, 1);
    --color-NEWItemText:rgb(255, 0, 0);
    --color-Items:rgb(0, 0, 0);
    --color-Timer:rgb(22, 92, 0);
    background:linear-gradient(to right, rgb(210, 0, 0) ,rgb(0, 0, 0), rgb(0, 210, 0));
}

.CBackground{
    height: 90vh;
    width: 70%;
    margin-top: 2vw;
    background-color: var(--color-background);
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    border-color: black;
    border-width: 0.2vw;
    border-style: solid;
    overflow-y: scroll;
}

.CBackground::-webkit-scrollbar {
    width: 0vw;
}

.news{
    color: var(--color-primary);
    text-align: right;
    margin-left: 40vw;
    margin-right: 0.9vw;
    margin-top: 0.5vw;
    margin-bottom: 1vw;
    font-size: 2vw;
    font-weight: bold;
    font-family: 'Calibri';
    transform: rotate(12deg);
    text-decoration: underline;
    text-decoration-style: wavy;
}

.title{
    color: var(--color-black);
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: -1vw;
    margin-bottom: 1.5vw;
    font-size: 4vw;
    font-weight: bold;
    font-family: 'Agency FB';
    text-decoration: underline;
    letter-spacing: 0.4vw;
}